.link {
    border: 2px solid rgb(6, 229, 245);
  
}
.link i{
    font-size: 1.5rem;
}
.link:hover{
    border: 2px solid rgb(6, 209, 245);
    border-radius: 10px;
}
.link:hover i{
    color: rgb(0, 225, 255);
   
}