.foot-link a{
    background-color:transparent;
    border: 2px solid rgb(111, 108, 114);
    border-radius: 5px;

}
i{
    font-size: 1.5rem;
}
.foot-link a:hover{
    border: 2px solid rgb(157, 159, 163);
}

 a:hover .fb{
    color: cornflowerblue;
   
}
 a:hover .linkedin{
    color: rgb(12, 185, 238);
   
}
 a:hover .twitter{
    color: rgb(12, 185, 238);
   
}
.contact-link {
   border: 2px solid rgb(0, 183, 255);
   color: azure;
}
.contact-link:hover{
    background-color: rgb(129, 224, 208);
    border-radius: 5px;
    border: 2px solid black;

}