.App {
  text-align: center;
}
body {
  font-family: 'Karla', sans-serif;
  background-color: #dad8d6cb;
}

body{
  animation-name: example;
  animation-duration: 15s;
}

@keyframes example {
  0%   {background-color: rgb(231, 171, 171);}
  25%  {background-color: rgb(240, 216, 164);}
  50%  {background-color: rgb(187, 241, 219);}
  100% {background-color: rgb(157, 203, 224);}
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
